@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
body {
    background-color: rgb(8, 17, 36);
    font-family: 'Rubik', sans-serif;
    color: white;
}
.title-header {
    color: rgb(104, 105, 107);
    font-weight: bold;
}
.custom-card {
    background-color: rgba(184, 184, 184, 0.2);
    border-radius: 2rem;

}